<!DOCTYPE html>
<html lang="vie">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithm</title>
</head>

<body>
    <div class="header">
        a l g o r i t h m
    </div>
    <div class="main">
        {{{body}}}
    </div>
</body>
<style>
    * {
        padding: 0;
        margin: 0;
        font-family: Aria;
    }

    .header {
        position: fixed;
        font-size: 46px;
        font-weight: bolder;
        text-transform: uppercase;
        text-align: center;
        line-height: 100px;
        color: white;
        background-color: rgb(8, 143, 143);
        width: 100%;
        height: 100px;
    }

    .main {
        display: flex;
        justify-content: center;
        /* Căn giữa theo chiều ngang */
        align-items: center;
        /* Căn giữa theo chiều dọc */
        flex-wrap: wrap;
        /* Cho phép các thẻ div tự động xuống dòng */
        height: 100vh;
        /* Chiều cao của container bằng với chiều cao của màn hình */
        gap: 30px;
        /* Khoảng cách giữa các thẻ div */
        padding: 200px 50px 200px 50px;
        box-sizing: border-box;
        background-color: rgba(8, 143, 143, 0.3);
    }
</style>

</html>