<!DOCTYPE html>
<html lang="vie">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithm</title>
</head>

<body>
    <div class="header">
        a l g o r i t h m
        <div class="menu">
            <div class="icon-menu"></div>
            <div class="icon-menu"></div>
            <div class="icon-menu"></div>
            <div class="sub-menu">
                <ul>
                    <li class="user">
                        
                        <h3 id="user-name">Full Name</h3>
                    </li>
                    <li class="nav" id="nav-create">
                        <h4>Thêm mới</h4>
                    </li>
                    <li class="nav">
                        <h4>Other navigation</h4>
                    </li>
                    <li class="last-nav">
                        <h4>Đăng xuất</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        {{{body}}}
    </div>
</body>
<style>
    * {
        padding: 0;
        margin: 0;
        font-family: Aria;
    }

    ul {
        list-style: none;
    }

    .header {
        position: fixed;
        font-size: 46px;
        font-weight: bolder;
        text-transform: uppercase;
        text-align: center;
        line-height: 100px;
        color: white;
        background-color: rgb(8, 143, 143);
        width: 100%;
        height: 100px;
    }

    .main {
        display: flex;
        justify-content: center;
        /* Căn giữa theo chiều ngang */
        align-items: center;
        /* Căn giữa theo chiều dọc */
        flex-wrap: wrap;
        /* Cho phép các thẻ div tự động xuống dòng */
        height: 100vh;
        /* Chiều cao của container bằng với chiều cao của màn hình */
        gap: 30px;
        /* Khoảng cách giữa các thẻ div */
        padding: 200px 50px 200px 50px;
        box-sizing: border-box;
        background-color: rgba(8, 143, 143, 0.3);
    }

    .menu {
        top: 30px;
        width: 40px;
        height: 40px;
        float: right;
        line-height: 100px;
        margin-right: 30px;
        position: relative;
    }

    .menu:hover {
        cursor: pointer;
    }

    .icon-menu {
        width: 100%;
        height: 8px;
        background-color: white;
        margin-top: 5px;
    }

    .sub-menu {
        display: none;
        min-width: 220px;
        min-height: 170px;
        background-color: white;
        position: absolute;
        top: 50px;
        right: 0;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    }

    .sub-menu ul {
        display: block;
    }

    .sub-menu li {
        height: 50px;
        color: black;
        font-size: 16px;
        padding: 15px;
        box-sizing: border-box;
        line-height: normal;
    }

    .nav {
        border-bottom: 1px solid #ccc;
    }

    .sub-menu .nav:hover {
        background-color: rgb(202, 229, 229);
    }

    .sub-menu .last-nav:hover {
        border-bottom-right-radius: 20px;
        background-color: rgb(202, 229, 229);
    }

    .sub-menu .user {
        height: 70px;
        border-top-left-radius: 20px;
        background-color: rgba(8, 143, 143, 0.7);
    }

    .user img {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ccc;
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .user h3 {
        display: inline-block;
        line-height: 40px;
        position: absolute;
        top: 15px;
        left: 55px;
        margin-left: 20px;
    }

    .sub-menu .user:hover {
        background-color: rgb(202, 229, 229);
        border-top-left-radius: 20px;
    }
</style>

<script>
    document.getElementsByClassName("menu")[0].onclick = function (e) {
        e.preventDefault();
        var element = document.getElementsByClassName("sub-menu")[0];
        if (element.style.display == "" || element.style.display == "none") {
            element.style.display = "block";
        } else {
            element.style.display = "none";
        }
    }
    document.getElementById('nav-create').onclick = function(e) {
        e.preventDefault();
        window.location.href = `http://localhost:3000/create`;
    }
</script>

</html>